

body{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: repeat(5,1fr);
    grid-gap: 10px;

}

div{
    background-color: red;

}

.title{
    grid-row: 1/4 ;
    grid-column:1;
    border: 2px solid black
}

.content1{
    grid-row: 4/6;
    grid-column:1;
    border: 2px solid black
}

.side-content1{
    grid-row: 1;
    grid-column:2;
    border: 2px solid black
}

.side-content2{
    grid-row: 2;
    grid-column:2;
}

.side-content3{
    grid-row: 3;
    grid-column:2;
    
}

.side-content4{
    grid-row: 4;
    grid-column:2;
    border: 2px solid black;
    text-align: left;

}

.side-content5{
    grid-row: 5;
    grid-column:2;
    text-align: center;
}



